<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blogdemo.mapper.FavoriteMapper">
    <resultMap id="FavoriteMap" type="com.example.blogdemo.pojo.Favorite">
        <result property="articleId" column="article_id"></result>
        <result property="favoriteTime" column="favorite_time"></result>
    </resultMap>
    <delete id="del" parameterType="com.example.blogdemo.pojo.Favorite">
        delete from favorite
        where uid=#{uid} and article_id=#{articleId}
    </delete>
    <select id="selectByArticleId" resultMap="FavoriteMap">
        select *
        from favorite
        where article_id=#{articleId}
    </select>
    <insert id="add">
        insert into favorite (uid,article_id,favorite_time)
        values (#{uid},#{articleId},#{favoriteTime})
    </insert>
    <select id="selectAll" resultMap="FavoriteMap">
        select *
        from favorite
        where uid=#{uid}
    </select>
</mapper>